@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

.main_container{
    display: flex;
    justify-content: space-between;
    margin-top: 60px;

}
.main_container_coin{
    width: 300px;
}
.main_container_title{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 100%;
    color: #000000;
}
.main_container_show{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 109%;
    color: #000000;


}