.App {
  width: 1200px;
  margin: auto;
    height: auto;
}

@media screen and (max-width: 991px) {
  .App {
   width: 330px;

  }

}




/*.App-link {*/
/*  color: #61dafb;*/
/*}*/

/*@keyframes App-logo-spin {*/
/*  from {*/
/*    transform: rotate(0deg);*/
/*  }*/
/*  to {*/
/*    transform: rotate(360deg);*/
/*  }*/
/*}*/
